// Colors

$redColor: #ff2018;
$darkBackground: #151515;
$whiteText: #fff;

// Font Sizes
$fontXsm: 0.75rem; //12px
$fontSm: 0.875rem; //14px
$fontMed: 1.125rem; //18px
$fontXmed: 1.875rem; //30px
$fontLa: 2.25rem; //36px
$fontXla: 6.25rem; //100px
